---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/crm/v3/owners?includeInactive=false&limit=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer demo
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 7381accd-e4b8-4376-924c-51f72aecc118
      X-Hubspot-Ratelimit-Daily:
      - '1000000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '999988'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '190'
      X-Hubspot-Ratelimit-Remaining:
      - '189'
      X-Hubspot-Ratelimit-Secondly:
      - '19'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '18'
    body:
      encoding: ASCII-8BIT
      string: '{"results":[{"id":"277857","email":"ailene@cummings-will.example","type":"PERSON","firstName":"Ken","lastName":"Harber","userId":801536,"createdAt":"2025-03-27T20:59:55+01:00","updatedAt":"2025-03-27T20:59:55+01:00","archived":false},{"id":"867536","email":"henry@rippin.test","type":"PERSON","firstName":"Alejandra","lastName":"Heidenreich","userId":835677,"createdAt":"2025-03-27T20:59:55+01:00","updatedAt":"2025-03-27T20:59:55+01:00","archived":false},{"id":"121530","email":"jamar.hermiston@mitchell-kub.test","type":"PERSON","firstName":"Lilian","lastName":"Bailey","userId":972356,"createdAt":"2025-03-27T20:59:55+01:00","updatedAt":"2025-03-27T20:59:55+01:00","archived":false},{"id":"125701","email":"aaron@skiles-adam[...]
- request:
    method: get
    uri: https://api.hubapi.com/crm/v3/owners?includeInactive=false&limit=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer demo
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - b2cc64af-cc81-46bc-b806-6bbcaca4f8eb
      X-Hubspot-Ratelimit-Daily:
      - '1000000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '999987'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '190'
      X-Hubspot-Ratelimit-Remaining:
      - '189'
      X-Hubspot-Ratelimit-Secondly:
      - '19'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '18'
    body:
      encoding: ASCII-8BIT
      string: '{"results":[{"id":"76834051","email":"paulina@careerfoundry.com","type":"PERSON","firstName":"Paulina","lastName":"Kluzek","userId":76834051,"userIdIncludingInactive":76834051,"createdAt":"2025-01-29T14:17:55.981Z","updatedAt":"2025-01-31T10:35:53.475Z","archived":false},{"id":"240826973","email":"suhaf@careerfoundry.com","type":"PERSON","firstName":"Suhaf
        Azam","lastName":"Butt","userId":25822182,"userIdIncludingInactive":25822182,"createdAt":"2022-10-06T10:04:12.461Z","updatedAt":"2025-03-04T14:44:13.881Z","archived":false},{"id":"240826976","email":"william@careerfoundry.com","type":"PERSON","firstName":"William","lastName":"at
        CareerFoundry","userId":5304044,"userIdIncludingInactive":5304044,"createdAt":"2022-10-06T10:04:12.607Z","updatedAt":"2023-03-22T08:57:26.605Z","archived":false},{"id":"240826979","email":"tetiana@careerfoundry.com","type":"PERSON","firstName":"Tetiana","lastName":"Rabiievska","userId":12776077,"userIdIncludingInactive":12776077,"createdAt":"2022-10-06T10:04:12.730Z","updatedAt":"2024-03-21T14:13:39.724Z","archived":false},{"id":"240826980","email":"invoices@careerfoundry.com","type":"PERSON","firstName":"CareerFoundry","lastName":"Invoices","userId":4470607,"userIdIncludingInactive":4470607,"createdAt":"2022-10-06T10:04:12.771Z","updatedAt":"2022-10-06T10:04:12.771Z","archived":false}],"paging":{"next":{"after":"MjQwODI2OTgx","link":"https://api.hubapi.com/crm/v3/owners?limit=5&includeInactive=false&after=MjQwODI2OTgx"}}}'
  recorded_at: Thu, 27 Mar 2025 19:13:10 GMT
- request:
    method: get
    uri: https://api.hubapi.com/crm/v3/owners?includeInactive=true&limit=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer demo
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - ceb3872a-a38f-4a9d-bbc4-a51032bd1c2a
      X-Hubspot-Ratelimit-Daily:
      - '1000000'
      X-Hubspot-Ratelimit-Daily-[...]
