---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/crm/v3/owners?email=nonexistent@example.com&includeInactive=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer demo
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 73e30ec7-2b66-4053-a5e5-522f788d97e7
      X-Hubspot-Ratelimit-Daily:
      - '1000000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '999983'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '190'
      X-Hubspot-Ratelimit-Remaining:
      - '189'
      X-Hubspot-Ratelimit-Secondly:
      - '19'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '18'
    body:
      encoding: UTF-8
      string: '{"results":[]}'
  recorded_at: Thu, 27 Mar 2025 20:11:14 GMT
- request:
    method: get
    uri: https://api.hubapi.com/crm/v3/owners?email=ailene@cummings-will.example&includeInactive=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer demo
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - dc4e9949-3ee0-45b8-8cdd-4ea23274cfcc
      X-Hubspot-Ratelimit-Daily:
      - '1000000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '999979'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '190'
      X-Hubspot-Ratelimit-Remaining:
      - '187'
      X-Hubspot-Ratelimit-Secondly:
      - '19'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '18'
    body:
      encoding: ASCII-8BIT
      string: '{"results":[{"id":"277857","email":"ailene@cummings-will.example","type":"PERSON","firstName":"Ken","lastName":"Harber","userId":801536,"createdAt":"2025-03-27T20:59:55+01:00"}]}'
  recorded_at: Thu, 27 Mar 2025 20:16:08 GMT
recorded_with: VCR 6.3.1
