---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/crm/v3/owners/277857?includeInactive=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer demo
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - d0954779-e16e-45ae-8bc3-f149ce73ad10
      X-Hubspot-Ratelimit-Daily:
      - '1000000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '999977'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '190'
      X-Hubspot-Ratelimit-Remaining:
      - '189'
      X-Hubspot-Ratelimit-Secondly:
      - '19'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '18'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"277857","email":"ailene@cummings-will.example","type":"PERSON","firstName":"Ken","lastName":"Harber","userId":801536,"createdAt":"2025-03-27T20:59:55+01:00"}'
  recorded_at: Thu, 27 Mar 2025 20:22:55 GMT
recorded_with: VCR 6.3.1
